* {
	box-sizing: border-box;
}
body {
	/*box-sizing: border-box;*/
	margin: 0;
	paddin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #b8c4e0;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }