body {
    background: linear-gradient(#aab,#ffa);
    min-height: 100vh;
    /* padding: 5vw; */
    font-family: 'Roboto', Arial;
  }

.card {    
    border-radius: 5px;
    margin: 15px;    
    padding: 5px 100px 25px 30px; /* this causes thing to get spread out */
    position: relative; /* has huge impact */
    overflow: hidden;
    display: inline-block;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    width: calc(33.3% - 180px);
    min-height: 140px;
    background: rgba(255,255,255,0.15);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

/* THIS HAS HUGE IMPACT ON FORMAT OF CARD */
.card img.bg { 
    position: absolute; /* forces image to be at top left */
    /* width and min-height make fill box */
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  

@media only screen and (max-width: 1200px) {
    .card {  
      width: calc(50% - 170px);
    }
  }
  
  @media only screen and (max-width: 800px) {
    .card {  
      width: calc(100% - 160px);
    }
  }