* {
	box-sizing: border-box;
}
body {
	/*box-sizing: border-box;*/
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #d5dae5;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


/* "TITLE HERE" from above */
.title-section {
    width: 100%;
    height: auto
}

/* "CONTENT" From Above */
.content-section {

     /* size of my container minus sidebar width */
    width: calc(100% - 300px);

    /* Estimated height of largest sidebar in case of short content */
    min-height: 800px;
}

/* SIDEBAR */
.sidebar-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%; /* Super important! */
}

/* "SIDEBAR CONTAINER" in the blueprint */
.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;

    /* Position the items */
    /* &:nth-child(2) { top: 25%; }
    &:nth-child(3) { top: 50%; }
    &:nth-child(4) { top: 75%; } */
}
.sidebar-item2 {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 25%;

    /* Position the items */
    /* &:nth-child(2) { top: 25%; }
    &:nth-child(3) { top: 50%; }
    &:nth-child(4) { top: 75%; } */
}
.sidebar-item3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 25%;

    /* Position the items */
    /* &:nth-child(2) { top: 25%; }
    &:nth-child(3) { top: 50%; }
    &:nth-child(4) { top: 75%; } */
}
.sidebar-item4 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 25%;

    /* Position the items */
    /* &:nth-child(2) { top: 25%; }
    &:nth-child(3) { top: 50%; }
    &:nth-child(4) { top: 75%; } */
}



/* Ignore This, just coloring */
body {
	background: #fff;
  }
  
  article {
	margin: 5% auto;
	background: #f1f1f1;
	border-radius: 12px;
	max-width: 1000px;
  }
  
  .title-section, .content-section, .sidebar-section {
	background: #fff;
	border-radius: 12px;
	border: solid 10px #f1f1f1; 
  }
  
  .title-section {
	text-align: center;
	padding: 50px 15px;
  }
  
  .content-section h2 {
	text-align: center;
	margin: 0;
	padding-top: 200px;
  }
  
  .sidebar-item {
	text-align: center;
	border-bottom: solid 1px blue;
	padding-top: 15px;
  }